{%load static%}
<div class="related-products">
    <h3 class="slider-title">Related Products</h3>
    <div class=" swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/css.png'%}" alt="css" class="card-image">
                        <p class="badge css">css</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/images.jpeg'%}" alt="css" class="card-image">
                        <p class="badge css">jacket</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/javascript.png'%}" alt="javascript" class="card-image">
                        <p class="badge javascript">Bomber Jacket</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/bootstrap.jpg'%}" alt="bootstrap" class="card-image">
                        <p class="badge bootstrap">bootstrap</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/git.png'%}" alt="git" class="card-image">
                        <p class="badge git">git</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img src="{%static 'store/html.jpg'%}" alt="html" class="card-image">
                        <p class="badge html">html</p>
                        <h2 class="card-title">Lorem ipsum dolor sit amet consectetur</h2>
                        <button class="card-button">Add to card</button>
                    </a>
                </li>
            </ul>
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>