<div class="related-products">
    <h3 class="slider-title">Related Products</h3>
    <div class=" swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                {%for relatedProds in relatedProducts%}
                <li class="card-item swiper-slide">
                    <a href="{%url 'product_details' relatedProds.product_name|slugify relatedProds.id %}" class="card-link">
                        <img src="{{relatedProds.image.url}}" alt="css" class="card-image">
                        <p class="badge css">{{relatedProds.product_name}}</p>
                        <h2 class="card-title">Rs. {{relatedProds.price}}</h2>
                        <button class="card-button">Add To Cart</button>
                    </a>
                </li>
                {%endfor%}
            </ul>
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>